body{
  font-family: 'open-sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}
h1, h2{
  font-family: 'Oswald', sans-serif;
}

img{
  float: left;
  margin-right: 10px;
}
div{
  column-count: 3;
  column-gap: 10px;
  column-width: 300px;
}